.output, .zero, .noToppings, .noName {
  display: none;
}

body {
  background-color: #F3ECE2;
}

.jumbotron {
  margin-top: 30px;
  background-image: url("../img/checker.jpg");
  text-align: center;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 150px;
}
h3 {
  font-family: 'Bangers', cursive;
  font-size: 40px;

}
.card {
  border-radius: 8px;
  background-image: url("../img/order.jpg");
background-position: bottom;
background-size: cover;
}

.selcls {
  width: auto;
}
.card-body, {
  padding: 50px;
  height: 900px;
  border-radius: 8px;
}

.form-group {
  padding-left: 60px;
  font-family: 'Bangers', cursive;
  border-radius: 20px;

}

.outputCard {
  padding-left: 60px;
  font-family: 'Bangers', cursive;
  border-radius: 10px;
font-size: 60px;
margin-bottom: 30px;
background-image: url("../img/background.jpg");
background-position: left;
}


.sides, .pizza {
  margin-top: 60px;
  margin-bottom: 30px;

}

label {
  margin-right: 10px;
  font-size: 20px;
}
#toppingSection {
  margin-top: 30px;
}

#saladSection, #knotSection, #cookieSection, #brownieSection {
  margin-bottom: 30px;
}

#nameSection {
margin-bottom: 60px;
margin-top: 60px;
}

.submit-button {
  margin-top: 60px;
}
